
@font-face{
  font-family: Nimbus;
  src: url(ArticulatCF-Bold.ttf);
  font-family: 'League Spartan', sans-serif;
  
  
}
html { scroll-behavior: smooth;}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Bebas Neue', cursive;
  background-color: #00090e;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: none;
  color: 58c2ff;
  position: relative;
}

.nav-links a {
  color: #ffffff;
}
/* LOGO */
.logo img {
  height: 60px;
  width: 60px;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 22px;
}

  .menu li:hover {
      background-color: #58c2ff;
      border-radius: 5px;
      transition: 0.3s ease;
  }

  .menu li {
      padding: 5px 14px;
  }
/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: none;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
  margin-left: -30px;
}

  .dropdown li + li {
      margin-top: 10px;
  }

  .dropdown li {
      padding: 0.5em 1em;
      width: 8em;
      text-align: center;
  }

      .dropdown li:hover {
          background-color: #58c2ff;
          
      }

.services:hover .dropdown {
  display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
      display: none;
      position: absolute;
      background-color: none ;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
  }

      .menu li:hover {
          display: inline-block;
          background-color: #58c2ff;
          transition: 0.3s ease;
      }

      .menu li + li {
          margin-top: 12px;
      }

  input[type=checkbox]:checked ~ .menu {
      display: block;
  }

  .hamburger {
      display: block;
  }

  .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
  }

      .dropdown li:hover {
          background-color: #4c9e9e;
      }
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 80%;

}
/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.NONS{
  color: #ffffff;
  font-family: Nimbus;
  position: relative;
  margin-top: 120px;
  padding: none;
}
.NONS H1{
  
  font-size: 80px;
  
}

.NONS p{
  margin-top: 10px;
  font-size: 23px;
}
.NONS H1 span{
  color: #58c2ff;
}

.button {
 
  border-radius: 4px;
  font-family: Nimbus;
  position: relative;
  background-color: #58c2ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 20px;
  width: 250px;
  transition: all 1s;
  cursor: pointer;
  margin-top: 19px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.NONS h2{
  margin-top: 200px;
  font-size: 48px;
}
.NONS h2 span{
  color: #58c2ff;
}
.Number1 {
  margin-top: 100px;

}
.Number1 img{
  width: 380px;
  height: 380px;
  border-radius: 0px;
  margin-left: 1150px;
}
.Number1 p{
  font-family: 'League Spartan', sans-serif;
  margin-top: -350px;
  font-size: 18px;
  margin-left: 450px;

}
.Number2 {
  margin-top: 250px;

}
.Number2 img{
  width: 380px;
  height: 380px;
  border-radius: 0px;
  margin-left: 450px;
  margin-top: -10px;
}
.Number2 h3{
  margin-top: -340px;
  font-size: 21px;
  margin-left: 900px;
  font-family: 'League Spartan', sans-serif;
}
.Number2 p{
  margin-top: -250px;
  font-size: 18px;
  margin-left: 5550px;
}
.ul{
  font-family: 'League Spartan', sans-serif;
  margin-top: 20px;
  margin-left: 900px;
  margin-bottom: -30px;
  padding-left: 32px;
  background-image: url(IMG/logo_white.png);
  background-position: 0px -6px;
  background-size: 30px;
  background-repeat: no-repeat;
  color: #ffffff;
  
}
.image {
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 0 rgba(255, 46, 190, 0.15);
}
.NONS1{
  color: #ffffff;
  font-family: Nimbus;
  position: relative;
  margin-top: 120px;
  padding: none;
}
.NONS1 H1{
  
  font-size: 80px;
  
}
a{
  text-decoration: none;
}
#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  margin-top: -10px;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading h1{
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}
.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.testimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #58c2ff;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #58c2ff;
  font-size: 0.8rem;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #58c2ff;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}
@media(max-width:790px){
  .testimonial-box{
      width:100%;
  }
  .testimonial-heading h1{
      font-size: 1.4rem;
  }
}
@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews{
      margin-top: 10px;
  }
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent;
  font-family: Nimbus;
  cursor: pointer;
  padding: 20px;
  width: 50%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
  margin-left: 25%;
  font-size: 45px;
  color: white;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: transparent;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  font-family: 'League Spartan', sans-serif;
  padding: 0 18px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
 
  width: 50%;
  margin-left: 25%;

}
.accordion:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 35px;
  color: rgb(255, 255, 255);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "-"; /* Unicode character for "minus" sign (-) */
}
.Faq{
  position: relative;
  color: #ffffff;
  font-family: Nimbus;
  position: relative;
  margin-top: 120px;
  padding: none;
}
.Faq h2{
  margin-bottom: 49px;
  font-size: 48px;
  color: #f1f1f1;
}
.Faq h2 span{
  color: #58c2ff;
}
.accordion span{
  color: #58c2ff;
}
.Servicess{
  position: relative;
  color: white;
  margin-top: 5%;
  font-family: nimbus;

}
.Servicess h2{
  font-size: 48px;
  position: relative;
}
